extends layout 
include _includes/sharedHTMLfunctions
block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row
    .col-12.col-md-8
      each location in locations
        .card.p-3
          .card-block
            h4
              a.me-1(href="#")= location.name
              +outputRating(location.rating)
            img.img-fluid.mb-2(src= location.image alt= location.alt)
            p= location.bio
            .features
              each feature in location.features
                span.badge.bg-warning.text-dark= feature
  
    .col-12.col-md-4.d-none.d-sm-block
      p.lead Fill this section with news items...